.app_container {
    display: flex;
}

.app_videoList {
    flex: 0.7;
    background-color: #d4f76d;
    padding: 2rem 1rem;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
}

.app_videoDetail {
    flex: 0.3;
    background: #ff704d;
    padding: 2rem 1rem;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
}